// For page
.pagePortafolio {
    padding-top: 8.5rem;
}

// SVG Animation
.svgAnimation {
    text-align: center;
    margin: 15rem 0 20rem;
}

// loading
body{
    padding: 1em;
    background: white;
    color: #777;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: 0 auto;
  }

// color in loading
svg path,
svg rect{
    fill: black;
}

// page
.hTittle {
    font-size: 30px !important;
}

.pCategory {
    font-size: 22px !important;
}