// SVG Animation
.svgAnimation {
    text-align: center;
    margin: 15rem 0 20rem;
}

// loading
body{
    padding: 1em;
    background: white;
    color: #777;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: 0 auto;
  }

// color in loading
svg path,
svg rect{
    fill: black;
}

// page
.hTittle {
    font-size: 30px !important;
}

.pCategory {
    font-size: 22px !important;
}

.divDisclaimer {
    margin-top: 15%;
    text-align: center;
    color: silver;
    font-size: 20px;
}

// Media query
@media screen and (max-width: 700px) { 
    .divDisclaimer {
        margin-top: 20%;
    }
}

@media screen and (min-width: 701px) and (max-width: 1024px) { 
    .divDisclaimer {
        margin-top: 10%;
    }    
}

@media screen and (min-width: 1025px) {
    .divDisclaimer {
        margin-top: 7%;
    }
}