<footer class="ae-container-fluid rk-footer divFooter">
    <div class="ae-grid ae-grid--collapse">
        <!-- left -->
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
            <ul class="rk-menu rk-footer-menu ulAcercaDe">
                <li routerLinkActive="active" class="rk-menu__item">
                    <a routerLink="about" class="rk-menu__link fontMediaQuery">Acerca de</a>
                </li>
            </ul>
            <p class="rk-footer__text rk-footer__copy">
                <span class="ae-u-bold">©</span>
                <a class="ae-u-bolder fontMediaQuery">{{anio}} Proteína, todos los derechos reservados</a>
            </p>
        </div>
        <!-- link icons -->
        <div class="ae-grid__item item-lg-4 au-xs-ta-center dviMe">
            <p class="pCreadoPor fontMediaQuery">Creado por</p>
            <a class="aCreador fontMediaQuery" href="http://www.codebryanc.com" target="_blank">  codebryanc </a>
        </div>
        <!-- right -->
        <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
            <p class="rk-footer__text rk-footer__contact pNoMargin">
                <span class="ae-u-bold fontMediaQuery">Correo electrónico: </span>
                <span class="ae-u-bolder">
                    <a href="mailto:codebryanc@gmail.com" class="rk-dark-color fontMediaQuery">codebryanc@gmail.com</a>
                </span>
            </p>
            <p class="rk-footer__text rk-footer__by fontMediaQuery">Pantilla de
                <a target="_blank" href="http://pixeden.com" class="ae-u-bolder fontMediaQuery">Pixeden</a>
            </p>
        </div>
    </div>
</footer>