.ulAcercaDe {
    margin: 0;
}

.aEmailValue{
    font-size: 20px !important;
}

.pNoMargin {
    margin: 0;
}

.divFooter {
    margin-bottom: 0;
}

.aCreador {
    color: #7ab658;
}

// Media query
@media screen and (max-width: 700px) { 
    .fontMediaQuery{
        font-size: 18px !important;
        margin-bottom: 5%;
    }

    .pCreadoPor {
        margin-bottom: 0;
    }

    .dviMe {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 701px) and (max-width: 1024px) { 
    .fontMediaQuery{
        font-size: 20px !important;
    }

    .pCreadoPor {
        margin-bottom: 4px;
    }    
}

@media screen and (min-width: 1025px) {
    .fontMediaQuery{
        font-size: 20px !important;
    }

    .pCreadoPor {
        margin-bottom: 4px;
    }
    
}