.ulAcercaDe {
    margin: 0;
}

.aAcercaDe{
    font-size: 20px !important;
}

.pBy{
    font-size: 20px !important;
}

.sEmailHeader{
    font-size: 20px !important;
}

.aEmailValue{
    font-size: 20px !important;
}

.pLayoutBy{
    font-size: 20px !important;
}

.pNoMargin {
    margin: 0;
}