// table
.divSummary {
    width: 40%;
    margin: auto;
}

.thSize {
    font-size: 18px;
    text-align: center;
}

.tdSize {
    vertical-align: middle;
    font-size: 16px;
    text-align: left;
}

.tdSizeValue {
    vertical-align: middle;
    font-size: 16px;
    text-align: right;
}

// Summary
.pTotalDeTuCompra {
    text-align: center;
    margin: 10% 0;
}

// purchase 
.divWhatsapp {
    margin: auto;
    text-align: center;
}

.pMessage {
    font-size: 28px;
}

.btnWhatsapp {
    margin-top: 2%;
    width: 60px;
    height: 60px;
}

.pNumber {
    font-size: 24px;
    color: #50b254;
}