// table
.thSize {
    text-align: center;
}

.tdSize {
    vertical-align: middle;
    text-align: left;
}

.tdSizeValue {
    vertical-align: middle;
    text-align: right;
}

// Summary
.pTotalDeTuCompra {
    text-align: center;
}

// purchase 
.divWhatsapp {
    margin: auto;
    text-align: center;
}

.btnWhatsapp {
    margin-top: 2%;
    width: 60px;
    height: 60px;
}

.pNumber {
    font-size: 24px;
    color: #50b254;
}

// empty
.emptyCart {
    text-align: center;
    margin: auto;
}

.divPurchaseGo {
    text-align: center;
    margin: auto;
}

.divAcciones {
    text-align: center;
}

// Media query
@media screen and (max-width: 700px) { 
    .divSummary {
        width: 100%;
        margin: auto;
    }
    
    .thSize {
        font-size: 16px;
    }
    
    .tdSize {
        font-size: 14px;
    }

    .tdSizeValue {
        font-size: 14px;
    }

    .mat-column-total {
        padding-right: 10px !important;
    }

    .mat-column-category {
        padding-left: 10px !important;
    }

    .pTotalDeTuCompra {
        margin: 15% 0;
    }

    .pMessage {
        font-size: 26px
    }

    .divAcciones {
        margin: 15% auto;
    }
}

@media screen and (min-width: 701px) and (max-width: 1024px) { 
    .divSummary {
        width: 45%;
        margin: auto;
    }
    
    .thSize {
        font-size: 18px;
    }
    
    .tdSize {
        font-size: 16px;
    }

    .tdSizeValue {
        font-size: 16px;
    }

    .pTotalDeTuCompra {
        margin: 10% 0;
    }

    .pMessage {
        font-size: 30px
    }

    .divAcciones {
        margin: 5% auto;
    }
}

@media screen and (min-width: 1025px) {
    .divSummary {
        width: 45%;
        margin: auto;
    }

    .thSize {
        font-size: 18px;
    }
    
    .tdSize {
        font-size: 16px;
    }

    .tdSizeValue {
        font-size: 16px;
    }

    .pTotalDeTuCompra {
        margin: 10% 0;
    }

    .pMessage {
        font-size: 32px
    }
    
    .divAcciones {
        margin: 5% auto;
    }
}