// SVG Animation
.svgAnimation {
    text-align: center;
    margin: 15rem 0 20rem;
}

// loading
body{
    padding: 1em;
    background: white;
    color: #777;
    text-align: center;
    font-family: "Gill sans", sans-serif;
    width: 80%;
    margin: 0 auto;
  }

// color in loading
svg path,
svg rect{
    fill: black;
}

// Component
.divDetail {
    padding-top: 3%;
}

.imgProteinaDetail {
    border-radius: 3%;
    -webkit-box-shadow: 5px 5px 5px 5px #f7f9fa;
    box-shadow: 5px 5px 5px 5px #f7f9fa;
}

.hTitle {
    text-align: center;
    font-size: 42px;
}

.hsubTitle {
    color: silver;
}

.divAddCart {
    text-align: center;
}

.divTitle {
    font-size: 20px;
}

.pValor {
    margin-bottom: 0.7rem;
}